@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@if (ViewBag.Error != null)
{
<div class="alert alert-danger">@ViewBag.Error</div>
}

@using (Html.BeginForm("Register", "Author", FormMethod.Post))
{
@Html.AntiForgeryToken()

<div class="form-group">
    @Html.Label("Username")
    @Html.TextBox("username", null, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.Label("Password")
    @Html.Password("password", null, new { @class = "form-control" })
</div>

<button type="submit" class="btn btn-primary">Register</button>
}
